.container {
  /* width: 30%; */
  /* height: 50%; */
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  transform: translateX(-25%);
}

.cash-out {
  /* transform: translateX(25%); */
  /* justify-content: center;
  justify-self: center; */
  /* max-width: 80%; */
  width: 90%;

  position: absolute;

  transform: translateX(-35%) translateY(10rem);
  /* align-self: flex-start; */
  /* margin: 10%; */
}

.cash {
  font-family: "ubuntu";
}

.cashoutButton {
  position: absolute;
  width: 100%;
  margin-top: 30%;
}

.progressbar {
  position: absolute;
  transform: scale(150%) translateY(-100%) translateX(-20%);
}

.winningMoney {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10%;
  box-shadow: 0px 0px 10px rgb(29, 29, 29);
  background-color: #6a6262;
  border: none;
}

.divider {
  background-color: white;
}

p {
  color: white;
}

.labels {
  max-width: 100%;
  margin-left: 35%;
  font-weight: 500;
  display: flex;
  transform: scale(2);
  justify-content: flex-start;
}

.successBox {
  animation: scaling 1.3s 0.1s alternate forwards;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
