.board {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);

  background-color: #232020;

  width: 75%;
  height: 200%;
  align-self: center;
  justify-self: center;
  justify-items: center;
}

.square {
  background-color: #6a6262;
  height: 85%;
  width: 85%;
  /* margin: 5px; */
  align-self: center;
  border-radius: 5px;
  display: flex;
  position: relative;
}
.square:hover {
  cursor: pointer;
}

.mine {
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  width: 100%;
  align-self: center;
  transform: scale(3);
  /* opacity: 0; */
}
