.background {
  height: 100vh;
  width: 100vw;
  background-color: #ff7315;
  display: flex;
  justify-content: center;
}

.mainarea {
  background-color: #3a3535;
  height: 95%;
  width: 95%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  padding-left: 10%;
}

.btncontainer {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  height: 40%;
  padding-left: 5%;
  padding-right: 5%;
  transform: scale(1.3);
  max-width: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  /* transform: translateX(-100%); */
}

/* .cashout:hover {
  cursor: pointer;
}

.cashout:active {
  box-shadow: none;
} */
